body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#result {
    height: 50px;
    font-size: 24px;
    text-align: right;
}

.btn{
   border-radius: 0 !important;
}